[Desktop Entry]
Type=Application
Name=Design Jury (@@NAMESPACE@@)
GenericName=Design Jury
Comment=Design Jury packaged build (@@NAMESPACE@@)
Exec=env OD_PACKAGED_NAMESPACE=@@NAMESPACE@@ @@EXEC_PATH@@ --appimage-extract-and-run %U
Icon=@@ICON_PATH@@
Categories=Development;Utility;
StartupWMClass=Design Jury
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/od;
